@import "./variables.scss";



.inner {
	border-radius: 10px;


	width: 120rem;
	max-width: 120rem;

	justify-content: center;
	display: flex;
	
	&__info {
		text-align: left;
		width: 50%;
		
	
	}
	

}

